{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% block title %}
    {% trans "Sign In" %}
{% endblock title %}

{% block content %}
<div class="account-container">
    <h1 class="account-heading">{% trans "Sign In" %}</h1>

    <p class="account-text">
        {% blocktranslate %}If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.{% endblocktranslate %}
    </p>

    <form method="post" action="{% url 'account_login' %}" class="account-form">
        {% csrf_token %}
        
        <!-- Flex container for form fields -->
        <div class="account-form-fields">
            <!-- Form Fields -->
            {% for field in form %}
                <div class="account-form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                        <small class="account-form-text">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        {{ redirect_field }}

        <!-- Flex container for button -->
        <div class="account-form-actions">
            <button type="submit" class="btn-login">
                {% trans "Sign In" %}
            </button>
        </div>
    </form>
</div>

{% endblock content %}