{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% block title %}
    {% trans "Sign Out" %}
{% endblock title %}

{% block content %}
<div class="account-container">
    <h1 class="account-heading">{% trans "Sign Out" %}</h1>

    <p class="account-text">{% trans 'Are you sure you want to sign out?' %}</p>

    <!-- Sign Out Form -->
    <form method="post" action="{% url 'account_logout' %}" class="account-form">
        {% csrf_token %}
        {{ redirect_field }}

        <!-- Flex container for button -->
        <div class="account-form-actions">
            <button type="submit" class="btn-login">
                {% trans 'Sign Out' %}
            </button>
        </div>
    </form>
</div>
{% endblock content %}
