{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% block title %}
    {% trans "Change Password" %}
{% endblock title %}

{% block content %}
<div class="account-container">
    <h1 class="account-heading">{% trans "Change Password" %}</h1>

    {% url 'account_change_password' as action_url %}
    <form method="post" action="{{ action_url }}" class="account-form">
        {% csrf_token %}
        {{ redirect_field }}

        <!-- Flex container for form fields -->
        <div class="account-form-fields">
            <!-- Form Fields -->
            {% for field in form %}
                <div class="account-form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    
                    {% for error in field.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <!-- Flex container for actions -->
        <div class="account-form-actions">
            <button type="submit" class="btn-login">
                {% trans "Change Password" %}
            </button>
        </div>

        <!-- Forgot Password Link -->
        <div class="account-form-actions">
            <a href="{% url 'account_reset_password' %}" class="account-text">
                {% trans "Forgot Password?" %}
            </a>
        </div>
    </form>
</div>
{% endblock content %}

