{% extends "base.html" %}
{% load i18n %}
{% load allauth %}

{% block title %}
    {% trans "Set Password" %}
{% endblock title %}

{% block content %}
    <div class="set-password-container">
        <h1 class="account-heading">
            {% trans "Set Password" %}
        </h1>
        
        {% url 'account_set_password' as action_url %}
        <form method="post" action="{{ action_url }}">
            {% csrf_token %}
            {{ redirect_field }}
            {% element fields form=form %}
            
            <div class="form-actions">
                <button type="submit" name="action" class="btn-login">
                    {% trans 'Set Password' %}
                </button>
            </div>
        </form>
    </div>
{% endblock content %}
