{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<header class="landing-page">
    <h1 id="header-title" class="title">Streamline your job hunting process</h1>
    <a href="#about">
        <img id="header-arrow" class="arrow" src="{% static 'images/arrow-down.svg' %}"alt="">
    </a>
</header>
<section id="about">
  <div class="about-flex-box">
    <div class="text-block">
      <h1 class="text-container">Transform your job application experience</h1>
      <p class="text-container">Stream line your application process. We strive to deliver a software that not only makes managing you application easier but strives to deliver on a more scuccesfulf and smoother journey as a result.</p>
      <a class="text-container" href="#">Learn more</a>
    </div>
    <div class="image-block" style="background-image: url('https://plus.unsplash.com/premium_photo-1683121855240-5d3f67a5fdec?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cmVjcnVpdG1lbnR8ZW58MHx8MHx8fDA%3D');"></div>
  </div>
    <div class="about-flex-box">
      <div class="image-block"style="background-image: url('https://plus.unsplash.com/premium_photo-1678917827802-721b5f5b4bf0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fHJlY3J1aXRtZW50fGVufDB8fDB8fHww');"></div>
      <div class="text-block">
        <h1 class="text-container">Stand out to the right audience</h1>
        <p class="text-container">Tailor your cv's and cover letters to set you apart from the crowd. When applying for a job keep track of exactly what you sent to the employer on paper with all your data at hand for each job application</p>
        <a class="text-container" href="#">Learn more</a>
      </div>
    </div>
</section>

<section id="services">
  <div class="price-box">
    <div class="price-image">
    </div>
    <div class="content">
      <h1 class="price">€0.00/<span>month</span></h1>
      <ul>
        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
        <li>Corrupti consectetur fuga quisquam amet, quo ab iure molestias.</li>
        <li>ipsam aut impedit, eveniet eligendi id autem accusantium illum sequi molestiae eum ducimus</li>
      </ul>
    </div>
    <div class="buy-now-button">
      <p class="buy-now-button-text">Buy Now</p>
    </div>
  </div>

  <div class="price-box">
    <div class="price-image">
    </div>
    <div class="content">
      <h1 class="price">€0.00/<span>month</span></h1>
      <ul>
        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
        <li>Corrupti consectetur fuga quisquam amet, quo ab iure molestias.</li>
        <li>ipsam aut impedit, eveniet eligendi id autem accusantium illum sequi molestiae eum ducimus</li>
      </ul>
    </div>
    <div class="buy-now-button">
      <p class="buy-now-button-text">Buy Now</p>
    </div>
  </div>

  <div class="price-box">
    <div class="price-image">
    </div>
    <div class="content">
      <h1 class="price">€0.00/<span>month</span></h1>
      <ul>
        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
        <li>Corrupti consectetur fuga quisquam amet, quo ab iure molestias.</li>
        <li>ipsam aut impedit, eveniet eligendi id autem accusantium illum sequi molestiae eum ducimus</li>
      </ul>
    </div>
    <div class="buy-now-button">
      <p class="buy-now-button-text">Buy Now</p>
    </div>
  </div>
</section>

  <section id="projects">
    <h1 class="title">Client testimonials</h1>
    <div class="client-testimonials">
      <div class="container">
        <img src="assets/images/image-emily.jpg" alt="">
        <p class="review">We put our trust in Sunnyside and they delivered, making sure our needs were met and deadlines were always hit.</p>
        <div class="person-details">
          <h2 class="name">Emily R.</h2>
          <p class="job-title">Marketing Director</h2>
        </div>
      </div>
      <div class="container">
        <img src="assets/images/image-thomas.jpg" alt="">
        <p class="review">Sunnyside’s enthusiasm coupled with their keen interest in our brand’s success made it a satisfying and enjoyable experience.</p>
        <div class="person-details">
          <h2 class="name">Thomas S.</h2>
          <p class="job-title">Chief Operating Officer</p>
        </div>
      </div>
      <div class="container">
        <img src="assets/images/image-jennie.jpg" alt="">
        <p class="review">Incredible end result! Our sales increased over 400% when we worked with Sunnyside. Highly recommended!</p>
        <div class="person-details">
          <h2 class="name">Jennie F.</h2>
          <p class="job-title">Business Owner</p>
        </div>
      </div>
    </div>
  </section>
  <section class="image-box-mobile">
    <img class="image" src="assets/images/mobile/image-gallery-milkbottles.jpg" alt="">
    <img class="image" src="assets/images/mobile/image-gallery-orange.jpg" alt="">
    <img class="image" src="assets/images/mobile/image-gallery-cone.jpg" alt="">
    <img class="image" src="assets/images/mobile/image-gallery-sugar-cubes.jpg" alt="">
  </section>
  <section class="image-box-desktop">
    <img class="image" src="assets/images/desktop/image-gallery-milkbottles.jpg" alt="">
    <img class="image" src="assets/images/desktop/image-gallery-orange.jpg" alt="">
    <img class="image" src="assets/images/desktop/image-gallery-cone.jpg" alt="">
    <img class="image" src="assets/images/desktop/image-gallery-sugarcubes.jpg" alt="">
  </section>


{% endblock %}