{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<header class="landing-page">
    <h1 id="header-title" class="title">Streamline your job hunting process</h1>
    <a href="#about">
        <img id="header-arrow" class="arrow" src="{% static 'images/arrow-down.svg' %}"alt="">
    </a>
</header>
<section id="about">
  <div class="about-flex-box">
    <div class="text-block">
      <h1 class="text-container">Transform your job application experience</h1>
      <p class="text-container">Stream line your application process. We strive to deliver a software that not only makes managing you application easier but strives to deliver on a more scuccesfulf and smoother journey as a result.</p>
      <a class="text-container" href="#">Learn more</a>
    </div>
    <div class="image-block" style="background-image: url('https://plus.unsplash.com/premium_photo-1683121855240-5d3f67a5fdec?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cmVjcnVpdG1lbnR8ZW58MHx8MHx8fDA%3D');"></div>
  </div>
    <div class="about-flex-box about-block-reversed">
      <div class="image-block"style="background-image: url('https://plus.unsplash.com/premium_photo-1678917827802-721b5f5b4bf0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fHJlY3J1aXRtZW50fGVufDB8fDB8fHww');"></div>
      <div class="text-block">
        <h1 class="text-container">Stand out to the right audience</h1>
        <p class="text-container">Tailor your cv's and cover letters to set you apart from the crowd. When applying for a job keep track of exactly what you sent to the employer on paper with all your data at hand for each job application</p>
        <a class="text-container" href="#">Learn more</a>
      </div>
    </div>
</section>

<section id="services">
  <div class="price-box">
    <div class="price-image">
    </div>
    <div class="content">
      <h1 class="price">€0.00/<span>month</span></h1>
      <ul>
        <li>manually update applications</li>
        <li>Store CVS and Cover Letters</li>
        <li>Limited Applications</li>
      </ul>
    </div>
    <div class="buy-now-button">
      <p class="buy-now-button-text">Buy Now</p>
    </div>
  </div>

  <div class="price-box">
    <div class="price-image">
    </div>
    <div class="content">
      <h1 class="price">€9.99/<span>month</span></h1>
      <ul>
        <li>Migrate Applications from csv files</li>
        <li>Create CV's from templates</li>
        <li>Unlimited Applications</li>
      </ul>
    </div>
    <div class="buy-now-button">
      <p class="buy-now-button-text">Buy Now</p>
    </div>
  </div>

  <div class="price-box">
    <div class="price-image">
    </div>
    <div class="content">
      <h1 class="price">€24.99/<span>month</span></h1>
      <ul>
        <li>Automatically track applications</li>
        <li>AI assistance with CV generation</li>
        <li>Suggested Jobs to apply to</li>
      </ul>
    </div>
    <div class="buy-now-button">
      <p class="buy-now-button-text">Buy Now</p>
    </div>
  </div>
</section>

<!-- Contact -->
<section id="contact">
  <h1 class="section-heading">Contact</h1>
  <!-- Form -->
  <form action="index.html" method="post">
    <!-- Name section -->
    <div class="form-item name-group">
      <div class="name-item">
        <input type="text" name="fname" id="fname" required>
        <label for="fname"><i class="fa-solid fa-user"></i> First name</label>
      </div>
      <div class="name-item">
        <input type="text" name="lname" id="lname" required>
        <label for="lname"><i class="fa-solid fa-user"></i> Last name</label>
      </div>
    </div>
    <!-- Mobile -->
    <div class="form-item">
      <input type="tel" name="mobile" id="mobile" pattern="[0-9]{10}" required>
      <label for="mobile"><i class="fa-solid fa-phone"></i> Mobile Number </label>
    </div>
    <!-- Email Address -->
    <div class="form-item">
      <input type="email" name="email" id="email" required>
      <label for="email"><i class="fa-solid fa-envelope"></i> Email address</label>
    </div>
    <!-- Message box -->
    <div class="form-item">
      <textarea name="message" id="message" rows="8" required></textarea>
      <label for="message"><i class="fa-solid fa-message"></i> Write your Message</label>
    </div>
    <!-- Submit button -->
    <button type="submit" name="submit"><span class="text">Submit</span></button>
  </form>
</section>

  <!-- Footer -->
  <section class="landing-page-footer">
    <div class="footer-box">
      <div class="footer-box-item">
        <h2 class="footer-content-title">"Change your job application process for life."</h2>
        <p class="footer-content">
          Take the stress out of job hunting with our intuitive job application tracker. Easily manage your applications, set reminders for follow-ups, and track your progress—all in one place. Stay organized and focus on what matters: landing your next opportunity! </p>
      </div>
      <div class="footer-box-item">
        <h2>Need Help?</h2>
        <p class="footer-content">Need help? We’re here for you. Visit our Help Center or reach out to our support team anytime.</p>
        <ul>
          <li> 
            <a href="#" target="_blank" aria-label="">Help Center:</a> 
              Follow the link to a FAQ page or support articles covering common questions.
          </li>
          <li>
            <a href="#contact" aria-label="">Contact Us: </a>
             Contact us diectly using the form above 
          </li>
        </ul>
      </div>
      <div class="footer-box-item">
        <h2>Stay Connected</h2>
        <ul>
          <li>
            <a href="#" target="_blank" aria-label="Open a new tab to partimenti.org">"Never miss an update.</a>
               Join our community and stay informed with the latest job hunting tips, industry insights, and app updates."
          </li>
          <li>
            <a href="#" target="_blank" aria-label="Open a new tab to improv planet">Newsletter Sign-up:</a> 
              Offer a quick sign-up form for users to receive tips, updates, and relevant job hunting resources.
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-box-item">
        <h2>Features & Benefits</h2>
        <p class="footer-content">"Discover what sets us apart. Our tools are designed to simplify your job search and maximize your success."</p>
        <ul>
          <li>
            <a href="" target="_blank" aria-label="Open a new tab to the metropole hotel website">Key Features:</a>
              Organise your appliications and keep track of what stage you are at in each process.
          </li>
          <li>
            <a href="" target="_blank" aria-label="Open a new tab to the springfort hall hotel website">User Benefits:</a>
            Maintaing you applications and linking your CV's to them helps you stay ontop of your Intervies
          </li>
        </ul>
      </div>
    </div>
  </section>

{% endblock %}