{% extends 'job-application-base.html' %}
{% load static %}

{% block title %}
  Dashboard
{% endblock %}

{% block dashboard_content %}

  <div>
  <div class="banner-section">
    <div class="banner-content">
      <a href="{% url 'jobapplication_create' %}"><button class="btn">Add a new Application</button></a>
    </div>
    <img class="city-image" src="{% static 'images/city-image.svg' %}" alt="line art of a city landscape" />
  </div>

  <div class="metrics-section">
    <div class="metrics-panel">
      <h3 class="metric-title">Total Applications</h3>
      <p class="metric-data">{{ total_applications }}</p>
    </div>
    <div class="metrics-panel">
      <h3 class="metric-title">Interviews Scheduled</h3>
      <p class="metric-data">{{ interviews_scheduled }}</p>
    </div>
    <div class="metrics-panel">
      <h3 class="metric-title">Response Rate</h3>
      <p class="metric-data">{{ response_rate }}%</p>
    </div>
    <div class="metrics-panel">
      <h3 class="metric-title">Offer Rate</h3>
      <p class="metric-data">{{ offer_rate }}%</p>
    </div>
  </div>

  <div class="dashboard-content">

    <div class="chart-section chart">
      <canvas id="applications14DaysChart"></canvas>
    </div>

    <div id="job-applications" class="applications-section">
      <h2 class="applications-section-title">Job Applications</h2>
      <div class="search-bar-container">
          <form method="GET" action="">
              
              <div class="date-container">
                <!-- Date Range Filter Application Posted -->
                <div class="date-filter">
                  <label class="date-filter-title">Application Posted:</label>
                  
                  <!-- Start Date Input with Label -->
                  <div class="seans-speciality">
                    <label for="ap-start-date" class="date-label">Start:</label>
                    <input type="date" id="ap-start-date" name="application_posted_start_date" class="date-input" value="{{ request.GET.application_posted_start_date }}">
                  </div>

                  <!-- End Date Input with Label -->
                  <div class="seans-speciality">
                    <label for="ap-end-date" class="date-label">End:</label>
                    <input type="date" id="ap-end-date" name="application_posted_end_date" class="date-input" value="{{ request.GET.application_posted_end_date }}">
                  </div>
                </div>

                <!-- Date Range Filter Date Applied -->
                <div class="date-filter">
                  <label class="date-filter-title">Date Applied:</label>
                  
                  <!-- Start Date Input with Label -->
                  <div class="seans-speciality">
                    <label for="da-start-date" class="date-label">Start:</label>
                    <input type="date" id="da-start-date" name="date_applied_start_date" class="date-input" value="{{ request.GET.date_applied_start_date }}">
                  </div>

                  <!-- End Date Input with Label -->
                  <div class="seans-speciality">
                    <label for="da-end-date" class="date-label">End:</label>
                    <input type="date" id="da-end-date" name="date_applied_end_date" class="date-input" value="{{ request.GET.date_applied_end_date }}">
                  </div>
                </div>
              </div>

              <div class="date-filter">
                <div class="seans-speciality" style="width: 60%">
                  <!-- Search Input -->
                  <input type="text" name="q" class="search-input" placeholder="Search applications..." value="{{ request.GET.q }}">
                  <!-- Submit Button -->
                  <button type="submit" class="search-btn">Search</button>
                </div>
              </div>
          </form>
      </div>

      {% for job_application in job_applications %}
        <div class="application-item">
          <div class="application-title">
            <h3><span class="company-text"><a href="{% url 'jobapplication_detail' job_application.id %}">{{job_application.company_name}}</a></span> | {{job_application.job_title}}</h3>
          </div>
          <div class="application-details">
            <span><span class="dashboard-bold">Status:</span> <span class="faded-text">{{job_application.get_status_display}}</span></span>
            <span><span class="dashboard-bold">Salary:</span> <span class="faded-text">€{{job_application.salary}}</span></span>
            <span><span class="dashboard-bold">Tags:</span> <span class="faded-text">
              {% for tag in job_application.tags.all %}
              <span style="color: {{ tag.color }}">{{ tag.name }}</span>{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </span></span>
            <span class="faded-text">{{job_application.date_applied}}</span>
          </div>
        </div>
      {% endfor %}
      <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    </div>
  </div>
  </div>

</main>
{% endblock %}
