:root {
  --accent-color: #7563ff;
  --background-color: #e6e6dd;
  --white: #ffffff;
  --text-color: #333333;
  --text-color-faded: #8f8f8f;
  --border-color: #d9d9d9;
  --font-family: "Poppins", sans-serif;
  --border-radius: 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body,
html {
  padding: 0;
  margin: 0;
  background: var(--background-color);
  color: var(--text-color);
}

.alert-success {
  background-color: lightgreen;
  padding: 10px;
}

.alert-error {
  background-color: lightcoral;
  padding: 10px;
}

.alert-info {
  background-color: lightblue;
  padding: 10px;
}

.alert-warning {
  background-color: lightyellow;
  padding: 10px;
}

.btn {
  background: var(--white);
  color: var(--text-color);
  padding-inline: 16px;
  padding-block: 12px;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
}
