:root {
  --accent-color: #7563ff;
  --background-color: #f2f2f2;
  --white: #ffffff;
  --text-color: #333333;
  --text-color-faded: #8f8f8f;
  --border-color: #d9d9d9;
  --font-family: "Poppins", sans-serif;
  --border-radius: 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body,
html {
  padding: 0;
  margin: 0;
  background: var(--background-color);
  color: var(--text-color);
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

.alert-success {
  background-color: lightgreen;
  padding: 10px;
}

.alert-error {
  background-color: lightcoral;
  padding: 10px;
}

.alert-info {
  background-color: lightblue;
  padding: 10px;
}

.alert-warning {
  background-color: lightyellow;
  padding: 10px;
}

/* Account forms styling */

.account-container {
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-heading {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.account-text {
  text-align: center;
  margin-bottom: 15px;
}

.account-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.account-form-fields {
  display: flex;
  flex-direction: column;
  gap: 15px; /* space between form fields */
}

.account-form-group {
  display: flex;
  flex-direction: column;
}

.account-form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}
#file-upload-button {
  font-size: 1rem;
  padding: 10px;
  height: 2.2rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

.account-form-group input[type="text"],
.account-form-group input[type="password"],
.account-form-group input[type="email"],
.account-form-group input[type="number"],
.account-form-group input[type="date"],
.account-form-group input[type="file"],
.account-form-group input[type="datetime-local"],
.account-form-group input[type="url"],
.account-form-group select {
  font-size: 1rem;
  padding: 10px;
  height: 2.2rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

.account-form-group button{
  font-size: 1rem;
  padding: 10px;
  height: 2.2rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}
.account-form-group select {
  padding: 0;
}

.account-form-group textarea {
  font-size: 1rem;
  padding: 10px;
  height: 13.2rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

.account-form-group .error {
  color: red;
  font-size: 0.875rem;
}

.account-form-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-login {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.btn-submit {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 15px 0 0 0;
}
.btn-login:hover {
  background-color: #0056b3;
}

.remember-me {
  display: flex;
  flex-direction: row;
}

.remember-me input[type="checkbox"] {
  margin-bottom: 5px;
  margin-left: 5px;
}

.btn {
  background: var(--white);
  color: var(--text-color);
  padding-inline: 16px;
  padding-block: 12px;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}
.btn-cv {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin: 15px 0 ;
}