:root {
    --primary-color: #114968;
    --secondary-color: #2ecc71;
    --text-color: #292929;
    --background-color: #e6e6dd;
    --border-color: #dddddd;
    --font-family: "Poppins", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body,
html {
    padding: 0;
    margin: 0;
    background: var(--background-color);
    color: var(--text-color);
}

.alert-success {
    background-color: lightgreen;
    padding: 10px;
}

.alert-error {
    background-color: lightcoral;
    padding: 10px;
}

.alert-info {
    background-color: lightblue;
    padding: 10px;
}

.alert-warning {
    background-color: lightyellow;
    padding: 10px;
}