{% extends 'job-application-base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/list.css' %}" />
{% endblock %}

{% block title %}Personal Profile{% endblock title %}
{% block dashboard_content %}
<h2>Personal Profile</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for profile in personal_profiles %}
        <tr>
            <td>{{ profile.name }}</td>
            <td>{{ profile.description }}</td>
            <td><a href="{% url 'personal_profile_edit' profile.id %}">Edit</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No personal profile details available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
