{% extends 'job-application-base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/list.css' %}" />
{% endblock %}

{% block title %}Soft Skills{% endblock title %}
{% block dashboard_content %}
<h2>Soft Skills</h2>
<table>
    <thead>
        <tr>
            <th>Skill Group</th>
            <th>Description</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for skill in soft_skills %}
        <tr>
            <td>{{ skill.group_name }}</td>
            <td>{{ skill.short_description }}</td>
            <td><a href="{% url 'soft_skill_edit' skill.id %}">Edit</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No soft skills details available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
