{% extends 'base.html' %}
{% load static %}

{% block title %}
  Dashboard
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
{% endblock %}

{% block content %}
  <div class="banner-section">
    <h1 class="title">Jobtrail</h1>
    <button class="btn">Add a new Application</button>
  </div>

  <div class="metrics-section">
    <div class="metrics-panel">
      <h3 class="metric-title">Total Applications</h3>
      <p class="metric-data">12</p>
    </div>
    <div class="metrics-panel">
      <h3 class="metric-title">Interviews Scheduled</h3>
      <p class="metric-data">3</p>
    </div>
    <div class="metrics-panel">
      <h3 class="metric-title">Response Rate</h3>
      <p class="metric-data">70%</p>
    </div>
    <div class="metrics-panel">
      <h3 class="metric-title">Offer Rate</h3>
      <p class="metric-data">40%</p>
    </div>
  </div>

  <div class="chart-section"></div>

  <div class="applications-section">
    <h2>Job Applications</h2>
    <ul>
      <li>
        <div class="application-item">
          <div class="application-title">
            <h3>IBM | Junior Frontend developer</h3>
          </div>
          <div class="application-details">
            <span>Status: <span class="faded-text">Awaiting reply</span></span>
            <span>Outcome: <span class="faded-text">Pending</span></span>
            <span>Tags: <span class="faded-text">Remote, Contract</span></span>
            <span class="faded-text">12/3/2024</span>
          </div>
        </div>
        <div class="application-item">
          <div class="application-title">
            <h3>IBM | Junior Frontend developer</h3>
          </div>
          <div class="application-details">
            <span>Status: <span class="faded-text">Awaiting reply</span></span>
            <span>Outcome: <span class="faded-text">Pending</span></span>
            <span>Tags: <span class="faded-text">Remote, Contract</span></span>
            <span class="faded-text">12/3/2024</span>
          </div>
        </div>
        <div class="application-item">
          <div class="application-title">
            <h3>IBM | Junior Frontend developer</h3>
          </div>
          <div class="application-details">
            <span>Status: <span class="faded-text">Awaiting reply</span></span>
            <span>Outcome: <span class="faded-text">Pending</span></span>
            <span>Tags: <span class="faded-text">Remote, Contract</span></span>
            <span class="faded-text">12/3/2024</span>
          </div>
        </div>
        <div class="application-item">
          <div class="application-title">
            <h3>IBM | Junior Frontend developer</h3>
          </div>
          <div class="application-details">
            <span>Status: <span class="faded-text">Awaiting reply</span></span>
            <span>Outcome: <span class="faded-text">Pending</span></span>
            <span>Tags: <span class="faded-text">Remote, Contract</span></span>
            <span class="faded-text">12/3/2024</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
{% endblock %}
