{% extends 'base.html' %}
{% load static %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}
  <div class="banner-section">
    <h1 class="title">Jobtrail</h1>
    <button class="btn">Add a new Application</button>
  </div>

  <div class="metrics-section">
    <div class="metrics-panel">
      <h3 class="metric-title">Total Applications</h3>
      <p class="metric-data">12</p>
    </div>
    <div class="metrics-panel">
      <h3 class="metric-title">Interviews Scheduled</h3>
      <p class="metric-data">3</p>
    </div>
    <div class="metrics-panel">
      <h3 class="metric-title">Response Rate</h3>
      <p class="metric-data">70%</p>
    </div>
    <div class="metrics-panel">
      <h3 class="metric-title">Offer Rate</h3>
      <p class="metric-data">40%</p>
    </div>
  </div>

  <div class="chart-section"></div>

{% endblock %}