.banner-section {
  position: relative;
  padding-top: 80px;
  padding-inline: 80px;
  height: 250px;
  background: linear-gradient(to top, #8676ff, #7563ff);
  overflow: hidden;
}

.banner-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
  color: var(--white);
  font-weight: normal;
}

.city-image {
  top: 0;
  position: absolute;
}

.metrics-section {
  display: flex;
  justify-content: space-between;
  padding-inline: 80px;
  gap: 20px;
}

.metrics-panel {
  width: 250px;
  background: var(--white);
  padding-block: 20px;
  padding-inline: 25px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transform: translateY(-50px);
}

.metric-title {
  font-size: 14px;
}

.metric-data {
  font-size: 30px;
}

.dashboard-content {
  padding-inline: 80px;
  padding-bottom: 100px;
}

.chart-section {
  background-color: #fff;
  height: 250px;
  width: 70%;
  margin: auto;
  border-radius: var(--border-radius);
  margin-bottom: 50px;
}

.applications-section {
  font-size: 14px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
}

.applications-section-title {
  color: var(--text-color-faded);
  font-size: 14px;
  font-weight: normal;
  padding: 10px;
}

.application-item {
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  background: var(--white);
  padding: 15px;
  border-bottom: 1px solid var(--border-color);
}

.company-text {
  color: var(--accent-color);
}

.application-title h3 {
  font-size: 14px;
  font-weight: normal;
}
