{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      JobTrail -{% block title %}

      {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/forms.css' %}" />
    {% block extra_css %}

    {% endblock %}
  </head>
  <body>

    {% block content %}
    {% endblock %}

    <script src="https://kit.fontawesome.com/f8d980d35b.js" crossorigin="anonymous"></script>
  </body>
</html>