{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      JobTrail -{% block title %}

      {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/forms.css' %}" />
    {% block extra_css %}

    {% endblock %}
  </head>
  <body>
    <div class="form-flex-box">
      <div class="form-component-box">
        <div class="form-component-form account-container forms-container">
          <div class="forms-container">
            <a href="#" class="home-link">Job<span class="home-link-tag">TRAIL</span></a>
            {% block content %}
            {% endblock %}
          </div>
        </div>
        <div class="form-component-bg-image">
        </div>
      </div>
    </div>
    <script src="https://kit.fontawesome.com/f8d980d35b.js" crossorigin="anonymous"></script>
  </body>
</html>