
<nav>
    <ul class="nav-left">
        <li>
            <a href="{% url 'home' %}" class="home-link">Job<span class="home-link-tag">TRAIL</span></a>
        </li>
    </ul>
    <ul id='menu' class="nav-right">        
        <li class="hidden">
            <a href="#about">About Us</a>
        </li>
        <li  class="hidden">
            <a href="#services">Services</a>
        </li>
        <li class="hidden">
            <a href="#contact">Contact Us</a>
        </li>
        <li class="hidden">
            <a href="{% url 'account_login' %}">Log in</a>
        </li>
        <li id='hamburger' class="hamburger-menu">
            <i class="fa-solid fa-burger" style="color: white;"></i>
        </li>
    </ul>
</nav>

