<nav>
    <ul class="nav-left">
        <li>
            <a href="#" class="home-link">Job<span class="home-link-tag">TRAIL</span></a>
        </li>
    </ul>
    <ul id='menu' class="nav-right">    
        <li class="hidden">
            <a href="{% url 'home' %}">Dashboard</a>
        </li>
        {% if user.is_authenticated %}
        <li  class="hidden">
            <a href="{% url 'profile_update' %}">Profile Details</a>
        </li>
        <li class="hidden">
            <a href="{% url 'jobapplication_create' %}">Create Job Application</a>
        </li>
        <li class="hidden">
            <a href="{% url 'account_logout' %}">Logout</a>
        </li>
        <li class="hidden">
            <i class="fa-solid fa-burger"></i>
        </li>
        {% else %}
        <li class="hidden">
            <a href="{% url 'account_signup' %}">Signup</a>
        </li>
        <li class="hidden">
            <a href="{% url 'account_login' %}">Login</a>
        </li>
        <li id='hamburger' class="hamburger-menu">
            <i class="fa-solid fa-burger" style="color: white;"></i>
        </li>
    </ul>
</nav>
{% endif %}

