<nav>
    <ul class="nav-left">
        <li>
            <a href="#" class="home-link">Job<span class="home-link-tag">TRAIL</span></a>
        </li>
    </ul>
    <ul class="nav-right">    
        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'dashboard' %}">Dashboard</a> 
        </li>
        <li>
            <a href="{% url 'account_set_password' %}">Password Reset</a>
        </li>
        <li>
            <a href="{% url 'profile_update' %}">Profile Details</a>
        </li>
        <li>
            <a href="{% url 'account_logout' %}">Logout</a>
        </li>

        {% else %}
        <li>
            <a href="{% url 'account_signup' %}">Signup</a>
        </li>
        <li>
            <a href="{% url 'account_login' %}">Login</a>
        </li>
    </ul>
</nav>
{% endif %}

